<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backbon Simple App</title>
    <link rel="icon" href="favicon-32x32.png" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



     

  
</head>
<body style="background-color: #555;">
    

    <div class="container p-5 text-center">
       <img src="logo.png" width="100" alt="Backbone">
        <p> <h2 class="text-center p-4" style="color: #222; text-shadow: -3px 1px 2px #ccc; font-size: 55px; ">Backbone JS Simple App</h2></p>
    </div>

            <div class="container pb-5">
                <p><h3>Insert data and update that!</h3></p>
                <hr>
                    <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Author</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">Action</th>
                                </tr>
                                <tr>
                                    <td scope="row"><input placeholder="Pleas insert author" class="form-control author-input " ></td>
                                    <td scope="row"><input placeholder="title" class="form-control title-input " ></td>
                                    <td scope="row"><input placeholder="http://" class="form-control url-input " ></td>
                                    <td scope="row"><button class="btn btn-primary add-blog col-12" >Add</button></td>
                                </tr>
                            </thead>
                            <tbody class="blogs-list"></tbody>
                        </table>

            </div>


            <div class="container pt-5">
                    <p><h3>Fetch data from API server</h3></p>
                    <hr>

                    <div class="container" id="wrapper"></div>



            </div>

            <!-- Insert data and update that! -->
            <script type="text/template" class="blogs-list-template">
                <td><span class="author"><%= author %></span> </td>
                <td><span class="title"><%= title %></span> </td>
                <td><span class="url"><%= url %></span> </td>
                <!-- start Button action  -->
                <td class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" >
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button class=" btn  btn-warning edit-blog">Edit</button>
                        <button class=" btn  btn-danger delete-blog">Delete</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button class=" btn  btn-success update-blog" style="display:none; "> update</button>
                        <button class=" btn  cancel" style="display:none; "> Cancel</button>
                    </div>
               </td>
               <!-- END Button action  -->
            </script>


            <script type="text/javascript" id="table_template">
                
                <table class="table table-hover table-dark ">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>phone</th>
                            <th>web</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(users, function(user) {  %>
                        <tr>
                            <td><%= user.get('id') %></td>  
                            <td><%= user.get('name') %></td>  
                            <td><%= user.get('email') %></td>  
                            <td><%= user.get('phone') %></td>  
                            <td><%= user.get('website') %></td>  
                             
                        </tr>   
                        
                        <% }) %>
                    </tbody>
                </table>
            </script>

            <script src="js/jquery-3.3.1.min.js"></script>  <!-- number 1 in importent -->
            <script src="js/underscore-min.js"></script>    <!-- number 2 in importent -->
            <script src="js/backbone-min.js"></script>      <!-- number 3 in importent -->
            <script src="js/javascript.js"></script>  


        
</body>
</html>